@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.mobile-menu-link {
    @apply block text-lg font-medium text-gray-700 dark:text-gray-300 hover:text-indigo-600 dark:hover:text-indigo-400;
}
